In [4]:
import pandas as pd, requests, sqlite3 as sql3, datetime
from bs4 import BeautifulSoup

In [143]:
url = 'https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29'


target_file = 'countries_by_GDP.csv'
log_file = 'etl_project_log.txt'
db_name = 'world_economies.db'
table_name = 'countries_by_GDP'
attributes = ['Country', 'GDP_USD_millions']

In [6]:
r = requests.get(url)

In [30]:
html_text_parsed = BeautifulSoup(r.text, 'html.parser')
all_table = html_text_parsed.find_all('tbody')
target_table = all_table[2]

rows = target_table.find_all('tr')

In [145]:
df = pd.DataFrame(columns=attributes)
for row in rows:
    td_data = row.find_all('td')
    if len(td_data) != 0 and td_data[0].find('a') is not None and td_data[2].get_text(strip=True) != '—':
        i = 0
        data = pd.DataFrame([{'Country': td_data[0].a.get_text(strip=True),
                'GDP_USD_millions': td_data[2].get_text(strip=True)
            }])
        df = pd.concat([df, data], ignore_index=True)
df

              Country GDP_USD_millions
0       United States       26,854,599
1               China       19,373,586
2               Japan        4,409,738
3             Germany        4,308,854
4               India        3,736,882
..                ...              ...
186  Marshall Islands              291
187             Palau              262
188          Kiribati              248
189             Nauru              151
190            Tuvalu               65

[191 rows x 2 columns]