#MOD1
---

##ImportingandExportingData

In [6]:
import pandas as pd

In [22]:
url= "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"

In [24]:
df = pd.read_csv(url, header = None)
df.head(2)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500